.main-head-group {
  display: flex;
  flex-wrap: nowrap;
  height: calcFluidFontSize(60,85, 1024, 2000);
  background: #f2f2f2;

  .head-tab-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .head-tab-item {
      border-radius:0 3px 0 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: #f8f8f8;
      border: 1px solid #e3e5e7;
      padding-right: 30px;
      width:calcFluidFontSize(240, 260, 1024, 2000);
      font-size:calcFluidFontSize(16, 22, 1024, 2000);
      letter-spacing: -1px;
      line-height: 38px;
      color: #4b4b4b;
      font-family: "Freight Sans Pro Medium", sans-serif;
      font-weight: 500;
      cursor: pointer;

      .fab, .far {
        color: rgba(211, 211, 211, 0.8);
        font-size: 30px;
      }
      .msg-counter{
        top: 9px;
        right: 26px;
      }

      &.active {
        border-radius:0;
        border: none;
        background: white;

      }
    }
  }

  form {
    padding: 0 20px;
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;

    input {
      width: calcFluidFontSize(320, 370, 1024, 2000);
      background: transparent;
      height:calcFluidFontSize(36, 42, 1024, 2000);
      border: none;
      font-size: calcFluidFontSize(16, 22, 1024, 2000);
      letter-spacing: -1px;

      &::placeholder {
        font-size: calcFluidFontSize(16, 22, 1024, 2000);
        letter-spacing: -1px;
        color: #c1c1c1;
        font-family: "Freight Sans Pro Book", sans-serif;
      }
    }
  }
}