.main-head-group {
  display: flex;
  flex-wrap: nowrap;
  height: calcFluidFontSize(40,80, 1024, 2000);
  background: #f2f2f2;

  .head-tab-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .head-tab-item {
      border-radius:0 3px 0 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: #f8f8f8;
      border: 1px solid #e3e5e7;
      padding-right: calcFluidFontSize(12, 30, 1024, 2000);
      width:calcFluidFontSize(220, 260, 1024, 2000);
      font-size:calcFluidFontSize(12, 22, 1024, 2000);
      letter-spacing: -1px;
      line-height: 38px;
      color: #4b4b4b;
      font-family: "Freight Sans Pro Medium", sans-serif;
      font-weight: 500;
      cursor: pointer;

      .fab, .far {
        color: rgba(211, 211, 211, 0.8);
        font-size: calcFluidFontSize(17, 30, 1024, 2000);
      }
      .msg-counter{
        top: 9px;
        right:calcFluidFontSize(20,10, 1024, 2000);
      }

      &.active {
        border-radius:0;
        border: none;
        background: white;
      }
    }

  }
  form{
    margin-left: auto;
  }
}