* {
  font-family: Roboto, sans-serif;
}

body {
  .page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .msg-counter {
      filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
      z-index: 2;
      position: absolute;
      background: #adadad;
      border: none;
      border-radius: 50%;
      color: white;
      right: -2px;
      top: -8px;
      display: flex;
     width:calcFluidFontSize(24, 32, 1024, 2000);
     height: calcFluidFontSize(24, 32, 1024, 2000);
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: calcFluidFontSize(10, 13, 1024, 2000);
      text-align: center;
      padding: 0;
      align-items: center;
      justify-content: center;

      &.active {
        background: #EB5757;
      }
    }

    .page-wrapper {
           width: 100%;
      height: 100%;
    main{
      width: 100%;
      height: 100%;
      .content-body-block{
        padding: 30px;
        height: 100%;
      }
    }
    }
  }

}