.page-header {
  padding: 0 calcFluidFontSize(26, 35, 1024, 2000);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: calcFluidFontSize(80, 110, 1024, 2000);
  background: #f1f1f1;
  border-bottom: 1px ridge #d3d7da;

  .common-dot-button {
    margin-right: 10px;
    border: none;
  }

  .header-status__button {
    margin-left: auto;
    background: #aacc4e;
  }
}