.person-avatar__elem.first{
  background-image: url("../img/a.jpg");
}
.person-avatar__elem.second{
  background-image: url("../img/b.jpg");
}
.person-avatar__elem.third{
  background-image: url("../img/c.jpg");
}
.person-avatar__elem.fourth{
  background-image: url("../img/d.jpg");
}
.person-avatar__elem.fifth{
  background-image: url("../img/e.jpg");
}