@import "mixinsAndProperty";
@import "librares/fontawesome/fontawesome";


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.active-message-group::-webkit-scrollbar-track, .active-projects-group::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: white;
 }

.active-message-group::-webkit-scrollbar,  .active-projects-group::-webkit-scrollbar {
  width: 7px;
  background-color:white;
}

.active-message-group::-webkit-scrollbar-thumb, .active-projects-group::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color:rgba(0,0,0,0.2);
}

body {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

@import "common";
@import "sidebar";
@import "header";
@import "main/meinHeadGroup";
@import "main/activeProjectsGroup";
@import "main/activeMessageGroup";
@import "buttonInputGroup";
@import "personAvatar";