@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  $val: calc(#{$k} * 100vw + #{$b});
  @return $val;
}


$header-height: calcFluidFontSize(40, 65, 998, 1500);

@import "librares/fontawesome/fontawesome";


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
button{
  outline: none;
}


body {
  height: 100vh;
  margin: 0;


}

@import "common";
@import "sidebar";
@import "header";
@import "main/meinHeadGroup";
@import "main/leftContentBlock";
@import "main/rightContentBlock";
